# Production Environment Variables

project_id = "vunapay-project-prod"
region     = "us-central1"

# Database password (replace with your actual secure password)
db_password = "mypassword"

# Clerk authentication keys (replace with your actual Clerk keys)
clerk_publishable_key = "pk_test_ZW5vdWdoLWxhbWItNy5jbGVyay5hY2NvdW50cy5kZXYk"
clerk_secret_key = "sk_test_0v7JUMVACgb9j2YlFnDuWPKOdwY27bDSgMmM2UXriL"